/* Estilos generales */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #300f21;
    color: #fff;
    text-align: center;
    margin: 0;
    padding: 0;
}

/* Menú principal y de dificultad */
.menu {
    margin-top: 50px;
}

.logo-container {
    margin-bottom: 30px;
}

.logo-container img {
    max-width: 500px;
    width: 80%;
}

.menu h1, .menu h2 {
    font-family: 'Press Start 2P', cursive;
    font-size: 48px;
    margin-bottom: 30px;
}

.menu button {
    font-size: 20px;
    padding: 15px 30px;
    margin: 10px;
    cursor: pointer;
    background-color: #444;
    color: #fff;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.2s;
}

.menu button:hover {
    background-color: #666;
    transform: scale(1.05);
}

/* Contenedor del juego */
#game-container {
    margin-top: 20px;
}

#board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
    margin: 0 auto;
    max-width: 600px;
}

.mini-board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: #333;
    padding: 5px;
    position: relative;
    transition: transform 0.3s;
}

.mini-board.active {
    outline: 3px solid #fff;
    transform: scale(1.05);
}

.cell {
    width: 100%;
    padding-top: 100%;
    position: relative;
    background-color: #555;
    border: 1px solid #444;
    font-size: 36px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.cell.disabled {
    background-color: #222;
    cursor: not-allowed;
}

.cell:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.cell span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#message {
    margin: 20px;
    font-size: 24px;
}

/* Puntuación */
#score {
    font-size: 24px;
    margin-bottom: 10px;
}

/* Botones del juego */
#game-container button {
    font-size: 18px;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    background-color: #444;
    color: #fff;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.2s;
}

#game-container button:hover {
    background-color: #666;
    transform: scale(1.05);
}

/* Historial de partidas y High Scores */
#history-container, #highscore-container {
    margin-top: 30px;
}

#history-container h2, #highscore-container h2 {
    font-size: 36px;
}

#history-list, #highscore-list {
    list-style-type: none;
    padding: 0;
    font-size: 18px;
}

#history-list li, #highscore-list li {
    margin: 5px 0;
}

/* Estilos responsivos */
@media (max-width: 768px) {
    .menu h1, .menu h2 {
        font-size: 36px;
    }

    .menu button {
        font-size: 18px;
        padding: 10px 20px;
    }

    #message {
        font-size: 20px;
    }

    #game-container button {
        font-size: 16px;
    }

    .logo-container img {
        max-width: 200px;
    }
}
